---
# Download Modal
---
@charset "utf-8";

// Import partials
@import "variables";

.hidden {
	display: none;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  } 
}


.download-modal {
	animation: bounceIn .35s ease;

	box-sizing: border-box;

	position: fixed;

	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -250px;

	z-index: 1060;

	width: 500px;
	height: 300px;

	padding: 15px 35px 15px 35px;

	background-color: $background-color;
	border-radius: 10px;

	box-shadow: 2px 2px 30px #232323;

	.download-buttons {
		margin-top: 40px;
	}

	a {
		cursor:pointer;
	}

	.big-button {
		display: inline-block;
		width: 40%;
		margin: 0;
	}

	.btn-cancel {
		font-size: 20px;
		width: 40%;
		margin-left: 60px;
	}

}