---
layout: default

title: Home
---

<div class="home">
	{% include pay-what-you-want.html %}

	<section>
		{% include featured-one-third.html %}
		{% include featured-two-thirds.html %}
	</section>

	{% include three-sections.html %}

	<section>
		{% include featured-banner.html %}

		{% for asset in site.assets %}
			{% if asset.show != true or asset.is-for-course == true %}
				{% continue %}
			{% endif %}
			
			{% include one-third-asset.html asset=asset %}
		{% endfor %}
	</section>

</div>
