---
layout: default

style:
  home

title: Home
---

<div class="home">
	{% include pay-what-you-want.html %}

	<section>
		{% include featured-one-third.html %}
		{% include featured-two-thirds.html %}
	</section>

	{% include newsletter-field.html %}

	{% include three-sections.html %}

	<section>
		{% assign one-third-1 = site.assets | where:"name", site.home-one-third-1 | first %}
		{% assign one-third-2 = site.assets | where:"name", site.home-one-third-2 | first %}
		{% assign one-third-3 = site.assets | where:"name", site.home-one-third-3 | first %}

		{% include one-third-asset.html asset=one-third-1 %}
		{% include one-third-asset.html asset=one-third-2 %}
		{% include one-third-asset.html asset=one-third-3 %}
	</section>

</div>
