<link rel="stylesheet" type="text/css" href="/css/download-modal.css">

{% if page.external-download %}
	{% assign download-path-short = site.external-download-path %}
{% else %}
	{% assign download-path-short = site.github.url | append: site.asset-download-path %}
{% endif %}

{% capture download-path %}{{download-path-short}}{{asset-name}}{{page.file-type}}{% endcapture %}

<div class="download-modal hidden" id="download-modal">

	<h1>Download</h1>

	<p class="download-message">You can choose to download the asset right away or wait for later by using the link we have sent to your email.</p>

	<div class="download-buttons">
		<a class="btn-download big-button" onclick='Download()'>Get Started</a>
		<a href="#" class="btn-cancel" onclick='closeDownloadModal()'>Close</a>
	</div>

</div>

<script>
var downloadPathShort = "{{download-path-short}}";
var downloadFile = "{{asset-name}}";
var downloadFileType = "{{page.file-type}}";
var downloadPath = "{{download-path}}";

var downloadIDs = [];
{% for tier in page.tiers %}
downloadIDs.push("{{tier.id}}");
{% endfor %}

function updateDownloadPath (newPath) {
	downloadPath = newPath;
	$("#pay-button").attr("data-item-custom2-value", newPath);
}

function openDownloadModal () {
	$('#download-modal').removeClass("hidden");
	$("#download-modal").fadeIn();
}

function Download () {
	window.location.replace(downloadPath);

	ga('send', {
		hitType: 'event',
		eventCategory: 'Asset Packs',
		eventAction: 'download',
		eventLabel: '{{page.title}}'
	});

	closeDownloadModal();
}

function closeDownloadModal () {
	//$('#download-modal').addClass("hidden");
	$("#download-modal").fadeOut();
	console.log("Closing...");
}

</script>
