<link rel="stylesheet" type="text/css" href="{{site.github.url}}/css/download-modal.css">

<div class="download-modal hidden" id="download-modal">

	<h1>Download</h1>

	<p class="download-message">You can choose to download the asset right away or wait for later by using the link we have sent to your email.</p>

	<div class="download-buttons">
		<a class="btn-download big-button" onclick='Download()'>Get Started</a>
		<a href="#" class="btn-cancel" onclick='closeDownloadModal()'>Close</a>
	</div>

</div>

<script>
function openDownloadModal () {
	$('#download-modal').removeClass("hidden");
	$("#download-modal").fadeIn();
}

function Download () {
	window.location.replace("{{download-path}}");

	ga('send', {
		hitType: 'event',
		eventCategory: 'Asset Packs',
		eventAction: 'download',
		eventLabel: '{{page.title}}'
	});

	closeDownloadModal();
}

function closeDownloadModal () {
	//$('#download-modal').addClass("hidden");
	$("#download-modal").fadeOut();
	console.log("Closing...");
}

</script>