<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{page.title}} | {{site.title}}</title>
	<meta name="description" content="{{site.description}}">



	<link rel="stylesheet" href="/{{site.github.url}}css/main.css">
	<link rel="canonical" href="http://devassets.com/">
	<link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/{{site.github.url}}feed.xml">
	
</head>