<link rel="stylesheet" type="text/css" href="{{site.github.url}}/css/newsletter-field.css">

<section class="newsletter-field">

<div id="mc_embed_signup">
	<form action="//brackeys.us14.list-manage.com/subscribe/post?u=ba163b9a326bd2360f90e0342&amp;id=764fab642a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
		<label for="mce-EMAIL">Get notified about new assets</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ba163b9a326bd2360f90e0342_764fab642a" tabindex="-1" value=""></div>
		<div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</div>
	</form>
</div>

</section>