<script>

	function updatePayAmount() {
		var buttons = document.getElementsByTagName("input");
		for (var i = 0; i < buttons.length; i++) { 
			if ( buttons[i].checked ) {

				var payButton1 = document.getElementById("pay-button-1");
				var payButton2 = document.getElementById("pay-button-2");
				var payButton3 = document.getElementById("pay-button-3");
				var payButton4 = document.getElementById("pay-button-4");
				var payButton5 = document.getElementById("pay-button-5");
				
				if (buttons[i].id == "1") {
					payButton1.style.display="block";
					payButton2.style.display="none";
					payButton3.style.display="none";
					payButton4.style.display="none";
					payButton5.style.display="none";
				} else if (buttons[i].id == "2") {
					payButton1.style.display="none";
					payButton2.style.display="block";
					payButton3.style.display="none";
					payButton4.style.display="none";
					payButton5.style.display="none";
				} else if (buttons[i].id == "3") {
					payButton1.style.display="none";
					payButton2.style.display="none";
					payButton3.style.display="block";
					payButton4.style.display="none";
					payButton5.style.display="none";
				} else if (buttons[i].id == "4") {
					payButton1.style.display="none";
					payButton2.style.display="none";
					payButton3.style.display="none";
					payButton4.style.display="block";
					payButton5.style.display="none";
				} else {
					payButton1.style.display="none";
					payButton2.style.display="none";
					payButton3.style.display="none";
					payButton4.style.display="none";
					payButton5.style.display="block";
				}

			}
		}
	}

</script>


<form name="Pay" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_xclick">
		<input type="hidden" name="business" value="at@brackeys.com">
		<input type="hidden" name="currency_code" value="USD">
		<input type="hidden" name="item_name" value="{{page.title}}">
		<input id="amount" type="hidden" name="amount" value="2.0">
		<input id="pay-button" class="pay" type="submit" value="Pay what you want!">
	</form>

	<input onchange="updatePayAmount()" id="custom-amount" type="number" name="amount" value="20.0" min="0">

	<label class="btn btn-primary"><input type="radio" value="custom" name="options" id="4" autocomplete="off" onclick="updatePayAmount()"><span>Custom</span>
	</label>

	<label class="btn btn-primary"><input type="radio" value="10.0" name="options" id="3" autocomplete="off" onclick="updatePayAmount()"><span>$10</span>
	</label>

	<label class="btn btn-primary active"><input type="radio" value="5.0" name="options" id="2" autocomplete="off" onclick="updatePayAmount()" checked><span>$5</span>
	</label>

	<label class="btn btn-primary"><input type="radio" value="2.0" name="options" id="1" autocomplete="off" onclick="updatePayAmount()"><span>$2</span>
	</label>

<script>

	function updatePayAmount() {
		var buttons = document.getElementsByTagName("input");
		for (var i = 0; i < buttons.length; i++) { 
			if ( buttons[i].checked ) {

				var payButton = document.getElementById("pay-button");
				var customAmountInput = document.getElementById("custom-amount");
				var placeToPutAmount = document.getElementById("amount");

				var price;

				if (buttons[i].value == "custom") {
					price = customAmountInput.value;

					customAmountInput.className = "active";

				} else {
					price = buttons[i].value;
					
					customAmountInput.className = "";
				}

				if (price == 0) {
					payButton.innerHTML = "Grab it for free!";
				}
				else {
					payButton.innerHTML = "Pay what you want!";
				}

				payButton.setAttribute("data-item-price", price);

			}
		}
	}

</script>