{% assign img-folder = page.title | remove: " -" | replace: " ", "-" | downcase %}

{% assign img-path = site.asset-img-path | append: img-folder %}

<section class="pay-buttons" data-toggle="button">

	<button
		id="pay-button"
		class="snipcart-add-item pay"
		data-item-name="{{page.name}}"
		data-item-id="{{page.id}}-test"
		data-item-image="{{site.github.url}}{{img-path}}/{{page.one-third-img}}"
		data-item-url="{{site.github.url}}{{page.url}}"
		data-item-price="2"
		data-item-custom1-name="Price"
		data-item-custom1-options="2|5[+3.00]|10[+8.00]|20[+18.00]"
		onclick="onAddItem()"
		>
		Pay what you want!
	</button>

	<script>
	function onAddItem () {
		Snipcart.api.items.clear();
	}

	function updatePayAmount(amount) {

		var payButton = $('#pay-button');

		var payButtonElement = document.getElementById( 'pay-button' );
		var freeButtonElement = document.getElementById( 'pay-button-free' );

		if (amount > 0) {
			payButton.data('item-custom1-value', amount);

			payButtonElement.style.display = 'block';
			freeButtonElement.style.display = 'none';
		} else {
			payButtonElement.style.display = 'none';
			freeButtonElement.style.display = 'block';
		}
	}
	</script>

	<button
		id="pay-button-free"
		class="pay"
		style="display: none;">
		Grab it for free!
	</button>

	<label class="btn btn-primary"><input type="radio" value="0" name="options" id="5" autocomplete="off" onclick="updatePayAmount(this.value)"><span>$0</span>
	</label>

	<label class="btn btn-primary"><input type="radio" value="20" name="options" id="4" autocomplete="off" onclick="updatePayAmount(this.value)"><span>$20</span>
	</label>

	<label class="btn btn-primary"><input type="radio" value="10" name="options" id="3" autocomplete="off" onclick="updatePayAmount(this.value)"><span>$10</span>
	</label>

	<label class="btn btn-primary active"><input type="radio" value="5" name="options" id="2" autocomplete="off" onclick="updatePayAmount(this.value)" checked><span>$5</span>
	</label>

	<label class="btn btn-primary"><input type="radio" value="2" name="options" id="1" autocomplete="off" onclick="updatePayAmount(this.value)"><span>$2</span>
	</label>

</section>