<section class="three-sections">
	<div>
		<h3>Quality</h3>
		<p>All assets are custom made and come packaged, polished and error-free.</p>
		<a href="{{site.github.url}}/browse/">Start Browsing</a>
	</div>

	<div>
		<h3>Free to use</h3>
		<p>You can use the assets in your projects both commercially and non-commercially.</p>
		<a href="{{site.github.url}}/guidelines/">See Usage Guidelines</a>
	</div>

	<div>
		<h3>Easy to use</h3>
		<p>Everything is set up to work right out the gate. Check out my videos if you are still confused!</p>
		<a target="_blank" href="http://youtube.com/brackeys/">Watch Tutorials</a>
	</div>

</section>