@import "portrait";

.artist-credit {
	display: table;

	width: 100%;

	margin-bottom: 30px;

	h3 {
		padding-top: 20px;
	}

	.made-by {
		float: left;
		margin: auto;

		height: 160px;
		width: 140px;

		h3 {
			font-family: 'Indie Flower', cursive;
			font-weight: lighter;
		}

		img {
			position: relative;
			left: 55px;
			bottom: 22px;
		}
	}
}