---
layout: default
head:
  snipcart.html
style:
  asset-view
---

{% assign img-folder = page.title | remove: " -" | replace: " ", "-" | downcase %}

{% assign img-path = site.asset-img-path | append: img-folder %}

<section>

	<img class="banner" src="{{site.github.url}}{{img-path}}/{{page.banner-img}}" alt="{{page.name}} Banner" border="0">

</section>

<section class="screenshots">

	{% for screenshot in page.screenshots %}
	<img class="screenshot" src="{{site.github.url}}{{img-path}}/{{screenshot}}" alt="{{page.title}} Screenshot" border="0">
	{% endfor %}

</section>

<section>
	<h1>{{ page.name }}</h1>
</section>

<section class="information">
	<div class="description">

		{% assign content = page.content | strip_newlines %}

		{% if content == "" %}
			<p>{{ page.description }}</p>
		{% else %}
			<p>{{ page.content }}</p>
		{% endif %}
		
	</div>
	<div class="contains">
		<h3>Contains:</h3>
		<ul>
			{% for asset in page.assets %}
			<li>{{asset}}</li>
			{% endfor %}
		</ul>
	</div>
</section>

{% include pay-buttons.html %}

{% if page.artist %}
	{% include artist-credit.html %}
{% endif %}

{% if page.marmoset %}
	{% include marmoset-viewer.html viewer=page.marmoset thumbnail=page.marmoset-thumbnail %}
{% endif %}

{% if page.video %}
	<section class="video">
		<div class="videoWrapper">
			<iframe width="560" height="315" src="{{page.video}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</div>
	</section>
{% else %}
	<div class="separator"></div>
{% endif %}

{% include three-random-assets.html %}